/**
 * @name CustomTheme
 * @author Stedee
 * @description Add a custom theme
 * @version 0.0.1
 */

 :root,
 .theme-dark,
 .theme-light {
   /* Main */
   --background-primary: rgba(0, 0, 0, 0) !important;
   --background-secondary: rgba(0, 0, 0, 0) !important;
   --background-secondary-alt: rgba(0, 0, 0, 0) !important;
   --background-tertiary: rgba(0, 0, 0, 0) !important;
   /* Scrollbars */
   --scrollbar-auto-thumb: rgb(67, 68, 69);
   --scrollbar-auto-track: rgba(71, 71, 71, 0.1);
   /* User popout */
   /*--profile-body-background-color: transparent;*/
   --popout: rgba(0, 0, 0, 0.1) !important;;
   --popoutsize: auto;
   --backgroundposition: center;
   --popoutblur: 10px;
 
   /* Misc */
   --modal-background: rgba(0, 0, 0, 0.1) !important;
   --modal-footer-background: rgba(0, 0, 0, 0.1) !important;
 }
 
 /*.scroller_f0f183 {
  
 }

 .scrollerBase_dc3aa9 {

 }*/

 .attachButton_b1db83 {
  background-color: transparent !important;
 }

 .contentWrapper__321ed{
  backdrop-filter: blur(2px) !important;
 }

 .emojiItemSelected__1a09a {
  background-color: rgba(0, 0, 0, 0.6) !important;
 }

 /*.userProfileInnerThemedNonPremium__3d0a6 {
  backdrop-filter: blur(10px) !important;
 } */

 .emojiInput__4fe54, .channelHeader__5d30c, .header_f5cc88, .header__53b07, .expandedFolderBackground__1bec6 {
  background-color: rgba(0, 0, 0, 0.8) !important;
  backdrop-filter: blur(10px) !important;
 }

 .grid_c7c4e6 {
  background-color: rgba(28, 28, 28, 0.5) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 0px 10px 10px 0px;
 }

 .popout_a6e77f, .messagesPopout__22763, .list__19127, .header_ca85b3 {
  background-color: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(10px) !important;
 }
 
 .profileColors__2e2f0, .userProfileInnerThemedNonPremium_ed9022 {
  --profile-gradient-primary-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(2px);
 }

 .container__6604b, .section_efc22d, .themedBackground__3a4c0 {
  background-color: rgba(0, 0, 0, 0.5) !important;
 }

 .autocomplete_df266d, .outerWrapper__08924, .wrapper_d2d2dd, .recentMentionsPopout__826a9, .pageWrapper_fef757 {
   background-color: rgba(0, 0, 0, 0.1) !important;
   backdrop-filter: blur(2px) !important;
 }
 
 .rolePill_f50ff5 {
  background-color: rgba(82, 82, 82, 0.2);
  border-radius: 5px;
 }

 .role__631a3, .textarea_c5a7a3 {
   background-color: rgba(82, 82, 82, 0.2) !important;
 }

 .subtitle__89b16, .sampleLink__771c4, .inputInner__2e566, .subtitle_a75f7f, .skip_f687eb, .subtitle__963da, .input_d266e7, .label__5447e, .guidelines__7b1b1, .text-sm-normal_d9d853, .formTitle_ba6f05, .optionHeader_b6da7f {
  color: rgb(215, 215, 215) !important;
 }

 .container__0d1a7, .pageWrapper_c182d3, .messagesPopoutWrap__10dd1 {
  background-color: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(10px) !important;
 }

 .title__23c2d, .footerTitle_ec7d67, .text__43e5f, .title_a58c92, .title_cba92b, .title__92748, .rowText_e87737, .backButton__576ea {
  color: rgb(255, 255, 255) !important;
 }

 .root_a28985, .selected__90dd8 {
  background-color: rgba(28, 28, 28, 0.823) !important;
 }

 .container_b181b6, .forumOrHome__75784, .header__60bef, .content__1a4fe, .chat__52833 {
   background-color: transparent !important;
 }
 
 .outerWrapper__99794, .autocomplete__743a5 {
  background-color: rgba(28, 28, 28, 0.2) !important;
  backdrop-filter: blur(10px) !important;
 }

 .embedCard__8f52c {
  background-color: rgba(28, 28, 28, 0.2) !important;
  backdrop-filter: blur(10px) !important;
  border-top: 10px !important;
 }

 .footerContainer_b2e9f6 {
  background-color: rgba(28, 28, 28, 0.5) !important;
  backdrop-filter: blur(10px) !important;
  border-bottom: 10px !important;
 }

 .grid__35551 {
  background-color: rgba(28, 28, 28, 0.2) !important;
  backdrop-filter: blur(10px) !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
 }

 .scroller_ac6d1c {
  background-color: rgba(28, 28, 28, 0.5) !important;
  border-radius: 10px !important;
 }

 /* Background image */
 .appMount_c99875 {
   background-size: cover !important;
   background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
     /*Change the alpha of both to dim the background */
       url("https://i.redd.it/ny0uggux78y41.png") no-repeat center; /*Change the url to any image you want */
 }
 
 /* Discord why are you like this */
 /* Stuff that doesn't get its color from a variable */
 .chat-2ZfjoI>*, .chat-2ZfjoI>*>* /* Stuff that "overwrites" the chat window such as server Q&A / Community search */ {
   background: transparent !important;
 }
 
 .themedBackground__6b1b6 {
   margin-bottom: 24px;
   background-color: rgba(8, 8, 8, 0.867);
 }
 
 /* User popout roles */
 .role-2TIOKu {
   border: 1px solid;
   border-color: hsla(0, 0%, 100%, 0.2) !important;
 }
 
 /* Dim stuff */
 .layer-2BGhQ8:not(.disabledPointerEvents-cGr1My)>*>*, /* Popouts */
   .contentColumn-1C7as6, .background-2avFV1, /* Bunch of background */
   .connectionHeader-Ixbb1s, .connectionOptionsWrapper-3aVWcp, .integrationsWrapper-1V-5L9, .metadataContainer-35U-On, .connectContainer-1hylYM, /* Connection menu */
   .replugged-quickcss-wrapper, /* Quick CSS */
   .scrollableContainer-15eg7h, .autocomplete-3NRXG8, /* Message area */
   .expandedFolderBackground-1kSAf6:not(.collapsed-uGXEbi), /* Folder background */
   .grid-1aWVsE, .wrapper-1FP9YQ, /* Embeds */
   .scrollbarGhostHairline-2LpzZ9, .inline /* Code blocks */ {
   background-color: rgba(0, 0, 0, 0.467) !important;
 }
 
