/**
 * @name OneShotPuzzleBackground
 * @author Stedee
 * @description Add OneShot puzzle theme with transparent background.
 * @version 1.0.4
 */

 :root,
 .theme-dark,
 .theme-light {
   /* Main */
   --background-primary: rgba(0, 0, 0, 0) !important;
   --background-secondary: rgba(0, 0, 0, 0) !important;
   --background-secondary-alt: rgba(0, 0, 0, 0) !important;
   --background-tertiary: rgba(0, 0, 0, 0) !important;
   /* Scrollbars */
   --scrollbar-auto-thumb: rgb(67, 68, 69);
   --scrollbar-auto-track: rgba(71, 71, 71, 0.1);
   /* User popout */
   /*--profile-body-background-color: transparent;*/
   --popout: rgba(0, 0, 0, 0.1) !important;;
   --popoutsize: auto;
   --backgroundposition: center;
   --popoutblur: 10px;
 
   /* Misc */
   --modal-background: rgba(0, 0, 0, 0.1) !important;
   --modal-footer-background: rgba(0, 0, 0, 0.1) !important;
 }
 
 /*.scroller_c43953 {
  
 }

 .scrollerBase_eed6a8 {

 }*/

 .bio_c6b11b {
  color: rgba(255, 255, 255, 0.8) !important;
 }

 .attachButton_f298d4 {
  background-color: transparent !important;
 }

 .contentWrapper_af5dbb{
  backdrop-filter: blur(2px) !important;
 }

 .emojiItemSelected_fbfedd {
  background-color: rgba(0, 0, 0, 0.6) !important;
 }

 /*.userProfileInnerThemedNonPremium_c69a7b {
  backdrop-filter: blur(10px) !important;
 } */

 .emojiInput_dc1809, .channelHeader_f3978e, .header_ac90a2, .header_e664f3, .expandedFolderBackground_bc7085 {
  background-color: rgba(0, 0, 0, 0.8) !important;
  backdrop-filter: blur(10px) !important;
 }

 .grid_ad0b71 {
  background-color: rgba(28, 28, 28, 0.5) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 0px 10px 10px 0px;
 }

 .popout_f6639d, .messagesPopout_ac90a2, .list_c6aa12, .header_b385c8 {
  background-color: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(10px) !important;
 }
 
 .profileColors_ac6ab4, .userProfileInnerThemedNonPremium_c69a7b {
  --profile-gradient-primary-color: rgba(35, 35, 35, 0.1) !important;
  backdrop-filter: blur(5px);
 }

 .container_acb8b3, .section_cd82a7, .themedBackground_d0696b, .body_b9fccc {
  background-color: rgba(0, 0, 0, 0.1) !important;
 }

 .autocomplete_f23da8, .outerWrapper_fe2299, .wrapper_fe2299, .recentMentionsPopout_ddb5b4, .pageWrapper_a3a4ce {
   background-color: rgba(0, 0, 0, 0.1) !important;
   backdrop-filter: blur(2px) !important;
 }
 
 .rolePill_fa2f72 {
  background-color: rgba(82, 82, 82, 0.2);
  border-radius: 5px;
 }

 .role_f9575e, .textarea_dde0a8 {
   background-color: rgba(82, 82, 82, 0.2) !important;
 }

 .subtitle_fc9dae, .sampleLink_e8a9c7, .inputInner_e8a9c7, .subtitle_f5507e, .skip_f5507e, .subtitle_c1ee6b, .input_f8bc55, .label_c46f6a, .guidelines_c1ee6b, .text-sm-normal__95a78, .formTitle_e8a9c7, .optionHeader_fc9dae {
  color: rgb(215, 215, 215) !important;
 }

 .container_a4d79f, .pageWrapper_a3a4ce, .messagesPopoutWrap_ac90a2 {
  background-color: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(10px) !important;
 }

 .title_fc9dae, .footerTitle_fc9dae, .text_a47d49, .title_f5507e, .title_c1ee6b, .title_e8a9c7, .rowText_e8a9c7, .backButton_f5507e {
  color: rgb(255, 255, 255) !important;
 }

 .root_f9a4c9, .selected_bd5e1f {
  background-color: rgba(28, 28, 28, 0.823) !important;
 }

 .container_f1fd9c, .container_e44302, .container_a6d69a, .forumOrHome_ff5f90, .container_a6d69a, .header_f1fd9c, .content_a7d72e, .chat_a7d72e {
   background-color: transparent !important;
 }
 
 .outerWrapper_fe2299, .autocomplete_f23da8 {
  background-color: rgba(28, 28, 28, 0.2) !important;
  backdrop-filter: blur(10px) !important;
 }

 .embedCard_bf4197 {
  background-color: rgba(28, 28, 28, 0.2) !important;
  backdrop-filter: blur(10px) !important;
  border-top: 10px !important;
 }

 .footerContainer_bf4197 {
  background-color: rgba(28, 28, 28, 0.5) !important;
  backdrop-filter: blur(10px) !important;
  border-bottom: 10px !important;
 }

 .grid_ad0b71 {
  background-color: rgba(28, 28, 28, 0.2) !important;
  backdrop-filter: blur(10px) !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
 }

 .autocompleteInner_f23da8 {
  background-color: rgba(28, 28, 28, 0.5) !important;
  border-radius: 10px !important;
 }

 /* Background image */
 .appMount_ea7e65 {
   background-size: cover !important;
   background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
     /*Change the alpha of both to dim the background */
       url("https://i.redd.it/ny0uggux78y41.png") no-repeat center; /*Change the url to any image you want */
 }
 
 /* Discord why are you like this */
 /* Stuff that doesn't get its color from a variable */
 .chat_a7d72e>*, .chat_a7d72e>*>* /* Stuff that "overwrites" the chat window such as server Q&A / Community search */ {
   background: transparent !important;
 }
 
 /*.themedBackground_d0696b {
   margin-bottom: 24px;
   background-color: rgba(8, 8, 8, 0.867);
 }*/
 
 /* User popout roles */
 .role_f9575e {
   border: 1px solid;
   border-color: hsla(0, 0%, 100%, 0.2) !important;
 }
 
 /* Dim stuff */
 .layer_cd0de5:not(.disabledPointerEvents_cd0de5)>*>*, /* Popouts */
   .contentColumn_c25c6d, .background_e2cc4b, /* Bunch of background */
   .connectionHeader_e2a436, .connectionOptionsWrapper_e2a436, .integrationsWrapper_e2a436, .metadataContainer_e2a436, .connectContainer_e2a436, /* Connection menu */
   .replugged-quickcss-wrapper, /* Quick CSS */
   .scrollableContainer_d0696b, .autocomplete_f23da8, /* Message area */
   .expandedFolderBackground_bc7085:not(.collapsed_bc7085), /* Folder background */
   .grid_ad0b71, .wrapper_f316dd, /* Embeds */
   .scrollbarGhostHairline_c858ce, .inline /* Code blocks */ {
   background-color: rgba(0, 0, 0, 0.6);
   backdrop-filter: blur(5px);
 }
 
